# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA file
!/.idea/
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_33.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_33.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_annotations_api_9_0_33.xml
out/artifacts/VehicleManager_war_exploded/META-INF/
out/artifacts/VehicleManager_war_exploded/WEB-INF/classes/application.properties
out/artifacts/VehicleManager_war_exploded/WEB-INF/web.xml
out/artifacts/VehicleManager_war_exploded/index.jsp
out/artifacts/service/WEB-INF/classes/application.properties
out/artifacts/service/WEB-INF/web.xml
out/artifacts/service/index.jsp
target/classes/application.properties
target/generated-sources/
target/generated-test-sources/
src/main/webapp/index.jsp
